#root {
  color: blue;
}


.grid {
  width: 600px;
  background: #ddd;
  height: auto;

}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer, .grid-item {
  width: 200px;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
